/bootstrap/compiled.php
/bootstrap/environment.php
/vendor
public/packages
bower_components
node_modules
.env.*.php
.env.php
.env
Thumbs.db

app/tests/_log

app/config/local/cache.php
_ide_helper.php
