/bootstrap/compiled.php
/bootstrap/environment.php
/vendor
public/packages
app/assets/components
node_modules
.env.*.php
.env.php
Thumbs.db

app/tests/_log

app/config/local/cache.php
_ide_helper.php
