/**
 * Import Twitter Bootstrap Base File
 */
@import "../../vendor/twbs/bootstrap/less/bootstrap";

body { padding-top: 60px; padding-bottom: 60px; }

.list-main { margin: 0; padding-left: 20px; list-style-type: none; background: url(../../../img/fond_liste.png);

	ul { list-style-type: none;	}
	.private > div .title { padding-left: 20px; background: url(../../../img/icn_locked.png) no-repeat left center; }

	li { line-height: 26px; position: relative;
		.title { color: #333; line-height: 26px; position: absolute; left: 45px; padding-left: 3px; top: 0; display: block; max-width: 500px; white-space: nowrap; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; }
	}
	form { display: inline-block; }
	.switch { display: inline-block; width: 22px; text-indent: -9999px; background: no-repeat 0 2px url(../../../img/switch-xs.png); margin-left: 5px; }
	.offline > div .switch { background-position: 0 -20px; }

}

.sortable {
	.disclose { position: absolute; left: -15px; top: 9px; width: 10px; height: 10px; display: inline-block; background-repeat: no-repeat; }
	.mjs-nestedSortable-branch .disclose { cursor: pointer; }
	li { position: relative;
		div { cursor: move; display: inline-block; }
	}
	li.mjs-nestedSortable-collapsed > ul { display: none; }
	li.mjs-nestedSortable-collapsed > div > .disclose { background-image: url(../../../img/directoryCollapsed.png); }
	li.mjs-nestedSortable-expanded > div > .disclose { background-image: url(../../../img/directory.png); }
	li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div { background: #fafafa; }
	
	.placeholder { overflow: hidden; background-color: #9D9; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
	.mjs-nestedSortable-error { background: #fbe3e4; border-color: transparent; }
}

.thumbnail { float: left; margin: 10px 20px 10px 0; display: block; position: relative; width: 110px;
	.caption { font-size: 12px; padding: 0; margin-top: 1px; height: 64px; overflow: hidden; line-height: 16px; }
	input[type=checkbox] { position: absolute; top: 2px; left: 2px; margin: 0; }
	&:hover { text-decoration: none; }
}

.thumbnail-dropzone { margin: 10px 20px 10px 0; height: 174px; width: 110px; display: inline-block; background-color: #EEE; float: left; }

.dz-message { text-align: center; margin-top: 40px; }
.dz-clickable { cursor: pointer; }
.dz-preview { position: relative;
	.dz-error-message { display: none; position: absolute; top: 4px; left: 4px; background: rgba(255,255,255,1); color: @brand-danger; width: 100px; min-height: 100px; max-height: 160px; z-index: 500; }
	.dz-progress { position: absolute; top: 98px; left: 4px; right: 4px; height: 6px; background: #d7d7d7; display: none; }
	.dz-progress .dz-upload { position: absolute; top: 0; bottom: 0; left: 0; width: 0%; background-color: #8cc657; }
	&.dz-error:hover .dz-error-message { display: block; }
	&.dz-processing .dz-progress { display: block; }
	&.dz-success { border-color: @brand-success;
		.dz-progress { display: none; }
	}
	&.dz-error { border-color: @brand-danger;
		.dz-progress { display: none; }
	}
}

