.vertical-align { // http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
