// User Dropdown box
.dropdown-user { min-width: 300px; padding: 10px; right: -10px; left: auto;
	.img { margin-right: 10px; }
	.info { margin-left: 110px; overflow: hidden; }
}
.navbar-default { font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", sans-serif; font-size: 14px; background-color: #F0F0F0; }
.navbar-brand { font-size: 18px; line-height: 22px; padding: 15px; }